<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <parameter name ="username" value="admin"/>
    <parameter name ="password" value="bitnei"/>
    <parameter name ="txtVeryCode" value="bitnei"/>
    <test name="Test1">
        <classes>
            <class name="bitnei.testcase.SuitTestLogin"/>
            <class name="bitnei.testcase.SuitHome"/>
        </classes>
    </test>
</suite>